
<div class="bg-dark wrapper">
  <div class="container">
    <div id="form">
      <div class="text-center text-light text-light text-sm-center texttobox">
        <h1 class="text-light title" name ="title">
          Add a new Entry to Your Friends Friendsbook
        </h1>
        <hr class="bg-light">
        <div class="alert-danger" *ngIf="this.error==true">{{this.errormsg}}  </div>
        <div id="Entry">
          <form (submit)="submitEntry()" >
            <div  class="entryInput text-light">
              <label for="yourname">Please enter your name:</label><br>
              <input   [(ngModel)]="this.entry.friendFullname" name="yourname" id="yourname" type="text"  maxlength="300"  placeholder="What's your name?" required>
            </div>
            <!---    ---->
            <div  class="entryInput">
              <label for="birthday">Please enter your Birthday:</label><br>
              <input name="birthday" [(ngModel)]="this.entry.birthday" id="birthday" type="date"   required >
            </div>
            <!---    ---->
            <div  class="entryInput">
              <label for="hobbies">Please enter your hobbies, put the apart with a ",":</label><br>
              <textarea id="hobbies" [(ngModel)]="this.hobbies"  maxlength="500" name="hobbies" placeholder="" required >
                 Enter your hobbies</textarea>
            </div>
            <!---    ---->
            <div  class="entryInput">
              <label for="nickname">Please enter your nickname:</label><br>
              <input id="nickname" [(ngModel)]="this.entry.nickname" type="text"  maxlength="300" name="nickname" required placeholder="What's your nickname?" >
            </div>
            <!---    ---->
            <div  class="entryInput">
              <label for="mobile">Please enter your mobilephone or Landline number:</label><br>
              <input  id="mobile" [(ngModel)]="this.entry.mobPhone" type="text"  maxlength="300" name="mobPhone" required placeholder="What's your mobile phone number?" >
            </div>
            <!---    ---->
            <div id="zodiac" class="entryInput">
              <label for="zodiac">Please select your zodiac:</label><br>
              <select id="zodiacList" name="zodiac" [(ngModel)]="this.entry.starsign" value="{{this.entry.newEntry.starsign}}" required >
                <option  value=""></option><!--CSS validator says an empty one is necessary: The first child option element of a select element with a required attribute, and without a multiple attribute, and without a size attribute whose value is greater than 1, must have either an empty value attribute, or must have no text content. Consider either adding a placeholder option label, or adding a size attribute with a value equal to the number of option elements. -->
                <option  value="scorpio">Scorpion</option>
                <option  value="aries">Aries</option>
                <option value="taurus">Taurus</option>
                <option  value="gemini">Gemini</option>
                <option  value="cancer">Cancer</option>
                <option  value="leo">Leo</option>
                <option   value="virgo">Virgo</option>
                <option  value="libra">Libra</option>
                <option  value="sagittarius">Sagittarius</option>
                <option  value="capricorn">Capricorn</option>
                <option  value="aquarius">Aquarius</option>
                <option  value="pisces">Pisces</option>
              </select>
            </div>
            <!---    ---->
            <label for="chinStarsignlist">Please select your Chinese zodiac:</label><br>
            <div id="chinStarsign" class="entryInput"  >
              <select id="chinStarsignlist" name="chinStarsign" [(ngModel)]="this.entry.chinStarsign" value="{{this.entry.newEntry.chinStarsign}}" required>
                <option  value=""></option><!--CSS validator says an empty one is necessary: The first child option element of a select element with a required attribute, and without a multiple attribute, and without a size attribute whose value is greater than 1, must have either an empty value attribute, or must have no text content. Consider either adding a placeholder option label, or adding a size attribute with a value equal to the number of option elements. -->
                <option  value="rat">Rat</option>
                <option  value="ox">Ox</option>
                <option  value="tiger">Tiger</option>
                <option  value="rabbit">Rabbit</option>
                <option  value="dragon">Dragon</option>
                <option  value="snake">Snake</option>
                <option  value="horse">Horse</option>
                <option  value="goat">Goat</option>
                <option value="monkey">Monkey</option>
                <option value="rooster">Rooster</option>
                <option  value="dog">Dog</option>
                <option value="pig">Pig</option>
              </select>
            </div>
            <!---    ---->
            <label for="favoriteIncenseScent">Please enter your favorite Incense scent:</label><br>
            <div id="scent" class="entryInput">
              <input type="text" name="favoriteIncenseScent" id="favoriteIncenseScent"   maxlength="300" required  [(ngModel)]="this.entry.favoriteIncenseScent" placeholder="What's your favorite incense scent?" >
            </div>
            <!---    ---->
            <label for="ageByFirstSuperNatural">Please enter the age of your fist supernatural contact:</label><br>
            <div id="ghostage" class="entryInput">
              <input type="number" id="ageByFirstSuperNatural"   min="0" name="ageByFirstSuperNatural" required [(ngModel)]="this.entry.ageByFirstSuperNatural" placeholder="only Numbers,please" >
            </div>
            <!---    ---->
            <label for="CelsetialList">Please select your Celestial body Constellation at the point of your birth </label><br>
            <div id="celestial" class="entryInput">
              <select id="CelsetialList" name="sign"  [(ngModel)]="this.entry.celestialBodyConstellationByBirth.celestialBody" required>
                <option  value=""></option><!--CSS validator says an empty one is necessary: The first child option element of a select element with a required attribute, and without a multiple attribute, and without a size attribute whose value is greater than 1, must have either an empty value attribute, or must have no text content. Consider either adding a placeholder option label, or adding a size attribute with a value equal to the number of option elements. -->
                <option value="scorpio">Scorpion</option>
                <option value="aries">Aries</option>
                <option value="taurus">Taurus</option>
                <option value="gemini">Gemini</option>
                <option value="cancer">Cancer</option>
                <option value="leo">Leo</option>
                <option value="virgo">Virgo</option>
                <option value="libra">Libra</option>
                <option value="sagittarius">Sagittarius</option>
                <option value="capricorn">Capricorn</option>
                <option value="aquarius">Aquarius</option>
                <option value="pisces">Pisces</option>
              </select>
              <select id="PlanetsList" name="planetList"  [(ngModel)]="this.entry.celestialBodyConstellationByBirth.sign" required>
                <option  value=""></option><!--CSS validator says an empty one is necessary: The first child option element of a select element with a required attribute, and without a multiple attribute, and without a size attribute whose value is greater than 1, must have either an empty value attribute, or must have no text content. Consider either adding a placeholder option label, or adding a size attribute with a value equal to the number of option elements. -->
                <option value="sun">sun</option>
                <option value="moon">moon</option>
                <option value="mercury">mercury</option>
                <option value="venus">venus</option>
                <option value="mars">mars</option>
                <option value="jupiter">jupiter</option>
                <option value="saturn">saturn</option>
                <option value="uranus">uranus</option>
                <option value="neptune">neptune</option>
                <option value="pluto">pluto</option>
                <option value="true node">true node</option>
                <option value="p. fortune">p. fortune</option>
                <option value="vertex">vertex</option>
              </select>
            </div>
            <!---    ---->
            <label for="patronus">Please enter your Patronus animal:}} </label><br>
            <div id="patronos" class="entryInput">
              <input type="text"  [(ngModel)]="this.entry.patronumAnimal" maxlength="300" id="patronus" name="patronomAnimal" required placeholder="Whats your patronum animal?" >
            </div>
            <label for="favoriteMovieSeries">Please enter your favorite movie: </label><br>
            <div id="movie" class="entryInput">
              <input type="text" id="favoriteMovieSeries"  [(ngModel)]="this.entry.favoriteMovieSeries" maxlength="300" required name="favoriteMovieSeries" placeholder="Whats your favorite movie?" >
            </div>
            <!---    ---->
            <label for="CelsetialList">Please enter your favorite Sport:</label><br>
            <div id="sport" class="entryInput">
              <input type="text"  maxlength="300" [(ngModel)]="this.entry.favoriteSport" name="favoriteSport" required placeholder="Whats your favorite sport?" >
            </div>

            <label for="Readable">Please enter your favorite Book/Comic/ Manga ...:</label><br>
            <div id="book" class="entryInput">
              <input type="text" id="Readable"  maxlength="300"  [(ngModel)]="this.entry.favoriteReadable" required name="Readable" placeholder="Whats your favorite book?" >
            </div>
            <!---    ---->
            <label for="favoriteGame">Please enter your favorite game: </label><br>
            <div id="game" class="entryInput">
              <input type="text" id="favoriteGame"  maxlength="300" [(ngModel)]="this.entry.favoriteGame" required name="favoriteGame" placeholder="Whats your favorite game?" >
            </div>
            <!---    ---->
            <label for="favoriteAnimal">Please enter your favorite animal: </label><br>
            <div id="animal" class="entryInput">
              <input type="text" id="favoriteAnimal"  maxlength="300"    [(ngModel)]="this.entry.favoriteAnimal" required name="favoriteAnimal" placeholder="Whats your favorite animal?" >
            </div>
            <!---    ---->
            <label for="favoriteFood">Please enter your favorite food: </label><br>
            <div id="food" class="entryInput">
              <input type="text"  maxlength="300" id="favoriteFood" name="favoriteFood" [(ngModel)]="this.entry.favoriteFood" required placeholder="Whats your favorite food?" >
            </div>
            <!---    ---->
            <label for="favoriteMusician">Please enter your favorite musician: </label><br>
            <div id="musician" class="entryInput">
              <input type="text"  maxlength="300" id="favoriteMusician" name="favoriteMusician"  [(ngModel)]="this.entry.favoriteMusician" required placeholder="Who is your favorite musician" >
            </div>
            <!---    ---->
            <label for="mostUsedWebsite">Please enter your most used Website</label><br>
            <div id="website" class="entryInput">
              <input type="text"  id="mostUsedWebsite"   maxlength="300" name="mostUsedWebsite" [(ngModel)]="this.entry.mostUsedWebsite" required placeholder="Which website do you use the most ?" >
            </div>
            <!---    ---->
            <div id="buttons">
              <button type="submit" name="submitNewEntry" id="submit_myEntry" class="submit btn btn-success btn-block"   >
                <p>Submit</p>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


