/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
$dusty : #96656F;
$lavendar : #6D7993;
$overcast : #9099A2;
$paper : #D5D5D5;
$Embers :#B82601;

body{
  font-family:'Montserrat',sans-serif ;
  height:100vh;
  background:$paper;
  margin:0;
  font-size: 1em;
}

