<div class="bg-dark wrapper">
  <div class="">
    <h1 class="text-light text-center">You are reading the Entry of {{entry.friendFullname}}</h1><br><br>
    <div *ngIf="error ==true " class="error">{{errormsg}}</div>
    <p for="facts" name="Factual Information" class="entryGroup text-center text-light">Factual Information:</p>
    <div class="entryGroup  text-light" id="facts">

        <h4 class="text-center">{{entry.friendFullname}}</h4>
        <hr class="bg-light">
        <table class="information-table">
          <tbody>
          <tr>
            <th>
              Nickname
            </th>
            <td>
              {{entry.nickname}}
            </td>
          </tr>
          <tr>
            <th>
              Birthday
            </th>
            <td>
              {{entry.birthday}}
            </td>
          </tr>
          <tr>
            <th>
              Interests
            </th>
            <td>
              {{entry.hobbies}}
            </td>
          </tr>
          <tr>
            <th>
              Mobile
            </th>
            <td>
              {{entry.mobPhone}}
            </td>
          </tr>
          </tbody>
        </table>

    </div>
    <p for="esoteric" class="entryGroup text-center  text-light">Estoric:</p>
    <div class="entryGroup text-light" id="esoteric">
      <table class="information-table" >
        <tbody>
        <tr>
          <th>
            Patronum Animal
          </th>
          <td>
            {{entry.patronumAnimal}}
          </td>
        </tr>
        <tr>
          <th>
            Zodiac
          </th>
          <td>
            {{entry.starsign}}
          </td>
        </tr>
        <tr>
          <th>
            Chinese zodiac
          </th>
          <td>
            {{entry.chinStarsign}}
          </td>
        </tr>
        <tr>
          <th>
            Favorite incense scent
          </th>
          <td>
            {{entry.favoriteIncenseScent}}
          </td>
        </tr>

        <tr>
          <th>
            First super natural contact
          </th>
          <td>
            {{entry.ageByFirstSuperNatural}}
          </td>
        </tr>
        <tr >
          <th colspan="2" id="tableheader">
            Celestialbodyconstellation @ Birth
          </th>
        </tr>
        <tr>
          <th>
            Zodiac
          </th>
          <td>
            {{entry.celestialBodyConstellationByBirth.sign}}
          </td>
        </tr>
        <tr>
          <th>
            Planet
          </th>
          <td>
            {{entry.celestialBodyConstellationByBirth.celestialBody}}
          </td>
        </tr>
        </tbody>
      </table>

    </div>
    <p for="favorites" class="entryGroup text-center  text-light">Favorites:</p>
    <div class="entryGroup text-light" id="favorites">
      <table class="information-table">
        <tbody>
        <tr>
          <th>
            Favorite Animal
          </th>
          <td>
            {{entry.favoriteGame}}
          </td>
        </tr>
        <tr>
          <th>
            Favorite Game
          </th>
          <td>
            {{entry.favoriteAnimal}}
          </td>
        </tr>
        <tr>
          <th>
            Favorite food
          </th>
          <td>
            {{entry.favoriteFood}}
          </td>
        </tr>
        <tr>
          <th>
            Favorite Movie / Series /...
          </th>
          <td>
            {{entry.favoriteMovieSeries}}
          </td>
        </tr>

        <tr>
          <th>
           Favorite Musician
          </th>
          <td>
            {{entry.favoriteMusician}}
          </td>
        </tr>
        <tr>
          <th>
            Favorite Book
          </th>
          <td>
            {{entry.favoriteReadable}}
          </td>
        </tr>
        <tr>
          <th>
            Favorite Sport
          </th>
          <td>
            {{entry.favoriteSport}}
          </td>
        </tr>
        </tbody>
      </table>



    </div>
  </div>
</div>
