$dusty : #96656f;
$lavendar : #6D7993;
$overcast : #9099A2;
$paper : #D5D5D5;
$embers :#B82601;
$white :#e5e5e5;
$black:#000000;



*{
  font-family:sans-serif;
  margin:0;
  padding:0;
}
#title{
  font-weight: 500;
  font-family: 'Bai Jamjuree', sans-serif;
}
.wrapper {
  width:38%;
  margin: 0 auto;
  padding:20px;
  height:auto;
  overflow: hidden;
}

#loginForm{
}

input[type=text], input[type=password], button{
  width:100% !important;
  font-size:150%;
  margin-top:20px;
  padding:5px;
  border-width:0;
  border-radius:4px;
}

button{
  background-color: $embers;
  border-width:0;
}

#small_line{
  width:100%;
  border-bottom:1px solid #FFF;
  margin-bottom:20px;
}
div.entryGroup{
  border: 2px solid #FFF;
  border-radius:5px;
  padding:20px;
  margin:20px 0;
  cursor:pointer;
}
@media (min-width: 600px) and (max-width:1100px) {
  .wrapper {
    width: 62%;
  }
}
@media (min-width: 0) and (max-width:600px) {
  .wrapper {
    width: 100%;
  }
}
.information-table {
  width: 100%;
  text-align: center;
  margin: 5% 0;
  table-layout: fixed;
  border:1px solid #FFF;
  th, td {
    padding: 15px;
    background-color: rgba(109,121,147,0.1);
    border-right:1px solid #FFF;
  }
  tr {
    padding-top: 3%;
    padding-bottom: 3%;
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
    }
  }
  tbody {
    th {
      color: #fff;
      background-color: rgba(109,121,147,0.5);
      &:first-child {
        width: 30%;
      }
    }
    td:hover {
      background-color: rgba(184,38,1,0.1);
    }
  }
}
#tableheader{
  -webkit-column-span: all; /* Chrome, Safari, Opera */
  column-span: all;
  border-bottom: 1px #fff;
  border-top: 1px #fff;
}
