div.entryGroup{
  border: 2px solid #FFF;
  border-radius:5px;
  padding:20px;
  margin:20px 0;
  cursor:pointer;
}
.wrapper {
  width:38%;
  margin: 0 auto;
  padding:20px;
  height:auto;
  overflow: hidden;
}
@media (min-width: 600px) and (max-width:1100px) {
  .wrapper {
    width: 62%;
  }
  input[type=text], input[type=password],select, textarea ,input[type=date],input[type=number], button{
    width:100% !important;
    font-size:10%;
    margin-top:10px;
    margin-bottom: 30px;
    padding:10px;
    border-width:0;
    border-radius:4px;
  }
}
@media (min-width: 0) and (max-width:600px) {
  .wrapper {
    width: 100%;
  }
  input[type=text], input[type=password],select, textarea ,input[type=date],input[type=number], button{
    width:100% !important;
    font-size:100%;
    margin-top:10px;
    margin-bottom: 30px;
    padding:10px;
    border-width:0;
    border-radius:4px;
  }
}
input[type=text], input[type=password],select, textarea ,input[type=date],input[type=number], button{
  width:100% !important;
  font-size:150%;
  margin-top:10px;
  margin-bottom: 30px;
  padding:10px;
  border-width:0;
  border-radius:4px;
}
*{
  font-family:sans-serif;
  margin:0;
  padding:0;
}
#title{
  font-weight: 500;
  font-family: 'Bai Jamjuree', sans-serif;
}
.texttobox{
  font-size: larger;
}
classy_line{
  width: 70%;
  font-size: 3px;
}
