<div class="bg-dark wrapper">
  <div class="container">
      <div id="form">
        <div id="top">
          <h1 class="text-light title">
            Your Friendsbook's
          </h1>
          <br>
          <hr size="3" class="classy_line">
          <div class="alert-danger" *ngIf="this.error==true">{{this.errormsg}}</div>
          <div id="Entry" class="text-light text-sm-center texttobox" >
            <form (submit)="submitMyentry()" >
              <div  class="entryInput">
                <label for="bookOwner">Please Enter your Name:</label><br>
                <input   [(ngModel)]="this.entry.newEntry.friendFullname" name="bookowner" id="bookOwner" type="text" autofocus="autofocus" maxlength="300" name="BookOwner" placeholder="Owner of this friendsbook" required="required">
              </div>
              <!---    ---->
              <div  class="entryInput">
                <label for="birthday">Please enter your Birthday:</label><br>
                <input name="birthday" [(ngModel)]="this.entry.newEntry.birthday" id="birthday" type="date" autofocus="autofocus" maxlength="300" name="Birthday" placeholder="{{entry.birthday}}" >
              </div>
              <!---    ---->
              <div  class="entryInput">
                <label for="hobbies">Please enter your hobbies, put the apart with a ",":</label><br>
                <textarea id="hobbies" [(ngModel)]="this.hobbies" autofocus="autofocus" maxlength="500" name="hobbies" placeholder="" >
                 What are some hobbies of yours?</textarea>
              </div>
              <!---    ---->
              <div  class="entryInput">
                <label for="nickname">Please enter your nickname:</label><br>
                <input id="nickname" [(ngModel)]="this.entry.newEntry.nickname" type="text" autofocus="autofocus" maxlength="300" name="BookOwner" placeholder="Whats your nickname?" >
              </div>
              <!---    ---->
              <div  class="entryInput">
                <label for="mobile">Please enter your mobilephone or Landline number:</label><br>
                <input  id="mobile" [(ngModel)]="this.entry.newEntry.mobPhone" type="text" autofocus="autofocus" maxlength="300" name="mobPhone" placeholder="Enter your mobile number" >
              </div>
              <!---    ---->
              <div id="zodiac" class="entryInput">
                <label for="zodiac">Please select your zodiac:</label><br>
                <select id="zodiacList" name="zodiac" [(ngModel)]="this.entry.newEntry.starsign" value="{{this.entry.newEntry.starsign}}" >
                  <option name="zodiac" value="scorpio">Scorpion</option>
                  <option name="zodiac" value="aries">Aries</option>
                  <option name="zodiac" value="taurus">Taurus</option>
                  <option name="zodiac" value="gemini">Gemini</option>
                  <option name="zodiac" value="cancer">Cancer</option>
                  <option name="zodiac" value="leo">Leo</option>
                  <option name="zodiac"  value="virgo">Virgo</option>
                  <option name="zodiac" value="libra">Libra</option>
                  <option name="zodiac" value="sagittarius">Sagittarius</option>
                  <option name="zodiac" value="capricorn">Capricorn</option>
                  <option name="zodiac"  value="aquarius">Aquarius</option>
                  <option name="zodiac" value="pisces">Pisces</option>
                </select>
              </div>
              <!---    ---->
              <label for="chinStarsignlist">Please select your Chinese zodiac:</label><br>
              <div id="chinStarsign" class="entryInput"  >
                <select id="chinStarsignlist" name="chinStarsign" [(ngModel)]="this.entry.newEntry.chinStarsign" value="{{this.entry.newEntry.chinStarsign}}">
                  <option name="chinStarsign" value="rat">Rat</option>
                  <option name="chinStarsign" value="ox">Ox</option>
                  <option name="chinStarsign" value="tiger">Tiger</option>
                  <option name="chinStarsign" value="rabbit">Rabbit</option>
                  <option name="chinStarsign" value="dragon">Dragon</option>
                  <option name="chinStarsign" value="snake">Snake</option>
                  <option name="chinStarsign" value="horse">Horse</option>
                  <option name="chinStarsign" value="goat">Goat</option>
                  <option name="chinStarsign" value="monkey">Monkey</option>
                  <option name="chinStarsign" value="rooster">Rooster</option>
                  <option name="chinStarsign" value="dog">Dog</option>
                  <option name="chinStarsign" value="pig">Pig</option>
                </select>
              </div>
              <!---    ---->
              <label for="favoriteIncenseScent">Please enter your favorite Incense scent:</label><br>
              <div id="scent" class="entryInput">
                <input type="text" name="favoriteIncenseScent" id="favoriteIncenseScent"  autofocus="autofocus" maxlength="300"  [(ngModel)]="this.entry.newEntry.favoriteIncenseScent" placeholder="Whast your favorite incense scent?" >
              </div>
              <!---    ---->
              <label for="ageByFirstSuperNatural">Please enter the age of your fist supernatural contact(only Integer numbers):</label><br>
              <div id="ghostage" class="entryInput">
                <input type="number" id="ageByFirstSuperNatural" autofocus="autofocus" max="300" min="0" name="ageByFirstSuperNatural" [(ngModel)]="this.entry.newEntry.ageByFirstSuperNatural" placeholder="When was your first supernatural Contact?" >
              </div>
              <!---    ---->
              <label for="CelsetialList">Please select your Celestial body Constellation at the point of your birth </label><br>
              <div id="celestial" class="entryInput">
                <select id="CelsetialList" name="CelestialPlanet"  [(ngModel)]="this.entry.newEntry.celestialBodyConstellationByBirth[1]" required>
                  <option value="scorpio">Scorpion</option>
                  <option value="aries">Aries</option>
                  <option value="taurus">Taurus</option>
                  <option value="gemini">Gemini</option>
                  <option value="cancer">Cancer</option>
                  <option value="leo">Leo</option>
                  <option value="virgo">Virgo</option>
                  <option value="libra">Libra</option>
                  <option value="sagittarius">Sagittarius</option>
                  <option value="capricorn">Capricorn</option>
                  <option value="aquarius">Aquarius</option>
                  <option value="pisces">Pisces</option>
                </select>
                <select id="PlanetsList" name="planetList"   [(ngModel)]="this.entry.newEntry.celestialBodyConstellationByBirth[0]" >
                  <option value="sun">sun</option>
                  <option value="moon">moon</option>
                  <option value="mercury">mercury</option>
                  <option value="venus">venus</option>
                  <option value="mars">mars</option>
                  <option value="jupiter">jupiter</option>
                  <option value="saturn">saturn</option>
                  <option value="uranus">uranus</option>
                  <option value="neptune">neptune</option>
                  <option value="pluto">pluto</option>
                  <option value="true node">true node</option>
                  <option value="p. fortune">p. fortune</option>
                  <option value="vertex">vertex</option>
                </select>
              </div>
              <!---    ---->
              <label for="patronus">Please enter your Patronus animal: </label><br>
              <div id="patronos" class="entryInput">
                <input type="text" autofocus="autofocus" [(ngModel)]="this.entry.newEntry.patronumAnimal" maxlength="300" id="patronus" name="patronomAnimal" placeholder="What is your patronum animal?" >
              </div>
              <label for="favoriteMovieSeries">Please enter your favorite movie: </label><br>
              <div id="movie" class="entryInput">
                <input type="text" id="favoriteMovieSeries" autofocus="autofocus" [(ngModel)]="this.entry.newEntry.favoriteMovieSeries" maxlength="300" name="favoriteMovieSeries" placeholder="What is your favorite movie?" >
              </div>
              <!---    ---->
              <label for="CelsetialList">Please enter your favorite Sport:</label><br>
              <div id="sport" class="entryInput">
                <input type="text" autofocus="autofocus" maxlength="300" [(ngModel)]="this.entry.newEntry.favoriteSport" name="favoriteSport" placeholder="Whats your favorite sport?" >
              </div>

              <label for="Readable">Please enter your favorite Book/Comic/ Manga ...:</label><br>
              <div id="book" class="entryInput">
                <input type="text" id="Readable" autofocus="autofocus" maxlength="300"  [(ngModel)]="this.entry.newEntry.favoriteReadable" name="Readable" placeholder="Whats your favorite book?" >
              </div>
              <!---    ---->
              <label for="favoriteGame">Please enter your favorite game: </label><br>
              <div id="game" class="entryInput">
                <input type="text" id="favoriteGame" autofocus="autofocus" maxlength="300" [(ngModel)]="this.entry.newEntry.favoriteGame" name="favoriteGame" placeholder="Whats your favorite game?" >
              </div>
              <!---    ---->
              <label for="favoriteAnimal">Please enter your favorite animal: </label><br>
              <div id="animal" class="entryInput">
                <input type="text" id="favoriteAnimal" autofocus="autofocus" maxlength="300"    [(ngModel)]="this.entry.newEntry.favoriteAnimal" name="favoriteAnimal" placeholder="Whats your favorite animal?" >
              </div>
              <!---    ---->
              <label for="favoriteFood">Please enter your favorite food: </label><br>
              <div id="food" class="entryInput">
                <input type="text" autofocus="autofocus" maxlength="300" id="favoriteFood" name="favoriteFood" [(ngModel)]="this.entry.newEntry.favoriteFood" placeholder="Whats your favorite food?" >
              </div>
              <!---    ---->
              <label for="favoriteMusician">Please enter your favorite musician: </label><br>
              <div id="musician" class="entryInput">
                <input type="text" autofocus="autofocus" maxlength="300" id="favoriteMusician" name="favoriteMusician"  [(ngModel)]="this.entry.newEntry.favoriteMusician" placeholder="Who is your favorite musician" >
              </div>
              <!---    ---->
              <label for="mostUsedWebsite">Please enter your most used Website:</label ><br>
              <div id="website" class="entryInput">
                <input type="text" autofocus="autofocus" id="mostUsedWebsite"   maxlength="300" name="mostUsedWebsite" [(ngModel)]="this.entry.newEntry.mostUsedWebsite" placeholder="Most used Website?" >
              </div>
              <!---    ---->
              <div id="buttons">
                <button type="submit"  id="submit_myEntry" class="btn btn-success btn-block">
                  <p>Submit</p>
                </button>

              </div>
            </form>
            <div class="text-sm-center nav-link"><a routerLink="/mybook">Back to your Friendsbook</a> </div>
          </div>
        </div>
      </div>
  </div>
</div>

