
div.wrapper {
  width : 62%;
  min-height : 100%;
  margin : 0 auto;
  padding : 20px;
}
ul {
  margin-top : 30px;
}
p {
  margin : 0;
}
#bigPlus {
  font-size : 150%;
}
div.entryThumbnail {
  border : #FFF solid 2px;
  border-radius : 5px;
  padding : 20px;
  margin : 20px 0;
  cursor : pointer;
}
a {
  text-decoration : none;
}
a:hover {
  color : inherit !important ;
}
@media (min-width:600px) and (max-width:1100px) {
  div.wrapper {
    width : 100%;
  }
}
@media (min-width:0) and (max-width:600px) {
  div.wrapper {
    width : 100%;
  }
  h2 {
    font-size : 150%;
  }
} 
