<div class="wrapper bg-dark text-light">
  <h1 >Entries in My Personal Friendsbook!</h1>
  <ul class="list-unstyled">
      <li>
       <div class="entryThumbnail"><a routerLink="/myentry" class="text-light">
        <h2>My Entry:</h2>
        <ul>
          <li>Edit / Set MyEntry</li>
          <li>First Page in Your Friendsbook</li>
        </ul>
       </a> </div>
      </li>
      <li *ngFor="let entry of List_of_Entries$">
        <div class ="entryThumbnail" (click)="fillListOfEntries()">
          <a routerLink="/entry/+{{entry.id}}" class="text-light">
            <h2 name="Yourname">{{entry.friendFullname}}</h2>
            <ul>
              <li>Nickname: {{entry.nickname}}</li>
              <li>Zodiac: {{entry.starsign}}</li>
              <li>Birthday: {{entry.birthday}}</li>
            </ul></a>
            <i class="material-icons" name="deleteME" (click)="deleteEntry(entry.id)">delete</i>

       </div>
      </li>

  <li >
    <div class="entryThumbnail" name="generateLink" (click)="generateLink()" >
    <h2> Add Entry </h2>
      <div class="alert-link" *ngIf="linkgenerated">Copy that link and give it to one of your friends:<br><a href="{{this.link}}" name="generatedLink">{{this.link}}</a></div>
      </div>
  </li>
    <li (click)="advancedsettings=true">
      <div class="entryThumbnail">
        <h2 class="REDheading"> Advanced Settings </h2>
        <div *ngIf="advancedsettings==true" name="divDeleteUser" (click)="advancedsettings=true"><div (click)="this.deleteAccount()" name="DeleteUser" type="submit" class="btn-danger">DELETE ACCOUNT & Friendsbook</div></div>
      </div>
    </li>
  </ul>
</div>
