
<div class="bg-dark wrapper">
  <div class="container">
    <h1 id="title" class="text-light text-center">NORADEF</h1><br>
    <hr  id="small_line">
  </div>
  <div *ngIf="success ==true " class="bg-success succ">{{succmsg}}</div>
  <div *ngIf="error ==true " name="error" class="bg-danger error">{{errormsg}}</div><p class="text-light"> If you are new here please register first!</p>
  <form (submit)="sendlogin()" id="loginForm">
    <input placeholder="username" type="text" name="username" [(ngModel)]="user.username" required id="username">
    <input placeholder="password" type="password" name="pw" [(ngModel)]="user.password" required id="password">

    <!-- login button -->
    <button *ngIf="user.password && user.username" (click)="this.register=0" type="submit"  id="login_button" class="bg-primary text-light">
      <!--<i class="material-icons" style="font-family: 'Material Icons',sans-serif">send</i>LOGIN-->
      Login
    </button>
        <!-- register button -->
    <button *ngIf="user.password && user.username " (click)="this.register=1" type="submit"  id="register_button" class="bg-primary text-light">
      <!--<i class="material-icons" style="font-family: 'Material Icons',sans-serif">add</i>REGISTER-->
      Register
    </button>
  </form>
</div>
