$dusty : #96656F;
$lavendar : #6D7993;
$overcast : #9099A2;
$paper : #D5D5D5;
$embers :#B82601;
$white :#e5e5e5;
$black:#000000;



*{
  font-family:sans-serif;
  margin:0;
  padding:0;
}
#title{
  font-weight: 500;
  font-family: 'Bai Jamjuree', sans-serif;
}
.wrapper {
  width:38%;
  margin: 0 auto;
  padding:20px;
  height:100%;
}

#loginForm{
}

input[type=text], input[type=password], button{
  width:100% !important;
  font-size:150%;
  margin-top:20px;
  padding:5px;
  border-width:0;
  border-radius:4px;
}

button{
  background-color: $embers;
  border-width:0;
}

#small_line{
  width:100%;
  border-bottom:1px solid #FFF;
  margin-bottom:20px;
}

@media (min-width: 600px) and (max-width:1100px) {
    .wrapper {
        width: 62%;
    }
}
@media (min-width: 0) and (max-width:600px) {
    .wrapper {
        width: 100%;
    }
}
